@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 1px dashed #000;
  outline-offset: 1px;
}

html {
  height: 100%;
  scroll-behavior: initial;
  font-size: 62.5%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  display: flex;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #282D35;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #FFFFFF;
  background-image: url("./reactjs-icon.png");
  background-repeat: no-repeat;
  background-size: 263px 263px;
  background-position: right -131px top 50%;
}

.header {
  background: #21222A;
  padding: 3.1rem 2.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: #DEEBF8;
}

main {
  padding: 5.7rem 2.7rem;
}

.h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.7rem;
  letter-spacing: -0.05em;
  margin-bottom: 4.6rem;
}

.list {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item {
  position: relative;
}

.item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #61DAFB;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translate(0%, -50%);
}